header {
  display: flex;
  flex-direction: row;

  justify-content: center;
  padding: 40px;
}

@media (max-width: 1024px) {
  header > img {
    width: 850px;
  }
}

@media (max-width: 440px) {
  header > img {
    width: 350px;
  }

  header {
    padding: 30px;
    padding-bottom: 10px;
  }
}
